# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
./My_portfolio/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
./mongo-data
# testing
/coverage

# next.js
./My_portfolio/.next/
./My_portfolio/out/

# production
./My_portfolio/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
./My_portfolio/.vercel

# typescript
*.tsbuildinfo
./My_portfolio/next-env.d.ts
