@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    .nav-item{
      @apply px-4 py-1.5 rounded-md text-white/70 text-sm font-semibold hover:bg-white/10 hover:text-white transition duration-300;
    }
    .hero-ring{
      @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5
    }
}

*{
  scroll-behavior: smooth;
}
/* @layer utilities {
  .container{
   @apply lg:max-w-5xl; 
  }
} */

@keyframes lowbounce {
  0%, 100% {
    transform: translateY(-18%); /* smaller height */
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}
